/* Define the scrollbar styles */
/* Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Color of the scrollbar handle */
  border-radius: 3px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Color of the scrollbar handle on hover */
}

/* Handle when actively being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.8); /* Color of the scrollbar handle when actively being dragged */
}

/* Firefox */
/* Define the scrollbar styles */
/* Track styles */
scrollbar {
  width: 6px; /* Width of the scrollbar */
}

scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar track */
}

/* Handle styles */
scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* Color of the scrollbar handle */
  border-radius: 3px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Color of the scrollbar handle on hover */
}

/* Handle when actively being dragged */
scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.8); /* Color of the scrollbar handle when actively being dragged */
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: transparent !important;
}