name: Execute SSH command on new commit

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up SSH connection
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
          
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Execute SSH command
        run: |
          ssh root@${{ secrets.REMOTE_HOST }}  -o StrictHostKeyChecking=no "cd /root/strikr && git reset --hard origin/master && yarn && yarn build && pm2 restart website"
